html * {
    font-family: 'Open Sans Condensed', sans-serif !important; 
    /*font-weight: 400 !important; */
}
body {
    background-color: #eee !important;

}
.navbar-brand img{
    height: 50px;
    width: auto;

}

.navbar-default {
    border-radius: 0px !important;
    border:none !important;
    background-color: #94B373 !important;
}

.nav {
    color: #FFF !important;
}

.nav a {
    color: #FFF !important;
}

.dropdown-menu a {
    color: #16161D !important;
}

.active > a{
    background-color: #D1E5BC !important;
}
.open > a{
    background-color: #D1E5BC !important;
}

.navbar-brand {
    padding: 10px !important;
}

.jumbotron h1 {
    padding-bottom: 40px;
}

.circle {

    background-color: #60c701;
    border-radius: 50%;
    width: 200px;
    height: 200px; 
    position: relative;
    display: inline-flex;
    transition: background-color 0.3s, box-shadow 0.3s, z-index 0.3s;
    -webkit-box-shadow: -24px 34px 0px -1px rgba(128,128,128,1);
    -moz-box-shadow: -24px 34px 0px -1px rgba(128,128,128,1);
    box-shadow: -24px 34px 0px -1px rgba(128,128,128, 1);
    /* width and height can be anything, as long as they're equal */
}

.circle:hover {
    background-color: rgba(164,227,97,1);
    cursor: pointer;
    z-index: 2000;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 20px 10px rgba(128,128,128,1);
    box-shadow: 0px 0px 20px 10px rgba(128,128,128, 1);
    
}

.circle ul {
    position: absolute;
    top: 75%;
    left: 0px;
    padding-right: 30px;
    list-style-type: none;
    font-size: 20px;
    background-color: rgba(255,255,255,0.9);
}

.circle li {
    transition: font-size 0.2s;
}

.circle li:hover {
    font-size: 22px;
}

.willkommen {
    margin-left: 8%;
    top: -30px;

}

.kinesiologie {
    margin-left: 4%;
    width: 250px !important;
    height: 250px !important;
    top: -115px;
}

.stress {
    margin-left: -30%;
    top: 140px;
    width: 230px !important;
    height: 230px !important;
}

.entspannung {
    margin-left: 6%;
    width: 280px !important;
    height: 280px !important;
    font-size: 20px !important;
}

.entspannung p {
    font-size: 20px !important;
}

.arbeit {
    top: -120px;
    margin-left: 22%;
    width: 180px !important;
    height: 180px !important;
}

.ueber {
    margin-left: -24.5%;
    top: -75px;
    width: 150px !important;
    height: 150px !important;
}

.label-circle-right {
    top: -240px;
    margin-left: 95%;
    width: 150px !important;
    height: 150px !important;
}

.label-circle-left {
    margin-bottom: 20px;
    margin-left: -50px;
    width: 150px !important;
    height: 150px !important;
}


.circle-text {
    margin: 0 auto;
    text-align: center;
    margin-top: 42% !important;
    color: #000;
    font-size: 25px;
    padding: 0px !important;
}

.big-image {
    margin-left: 70%;
    top: -35px;
    position: relative;
    display: inline-flex;
    height: 337px;
}

.big-image img {
    border-radius: 50%;
    position: absolute;
}


.page-wrapper {
    /*margin-top: -80px;*/
    /*padding-top: 0px !important;*/
    background: url('/img/bg/paper_fibers.png');
    -webkit-box-shadow: 0px -30px 46px 28px rgba(55,55,55,0.37);
    -moz-box-shadow: 0px -30px 46px 28px rgba(55,55,55,0.37);
    box-shadow: 0px -30px 46px 28px rgba(55,55,55,0.37);
}

.bildbunt {
    top: -290px;
    position: relative;
    display: inline-flex;
    margin-left: 85%
}

.bildbunt img {
    height: 300px;
    width: auto;
    border-radius: 50%;
}

.bildueber {
    float: left;
    margin-left: -80px;

}

.bildueber img {
    border-radius: 50%;
    height: 380px;
    width: auto;
}

.jumbotron p, h1{
    padding-left: 225px;
}

.jumbotron {
    margin-bottom: 0px !important;
}

.navigation {
    height: 52px;
    color: white;
    width: 100%;
    padding: 0px 48px 0px 48px !important;
}

.links {
    height: 100%;
    display: inline-block;
    padding-top: 10px;
}

.links a {
    margin-right: 20px;
    text-decoration: none;
    color: #16161D;
    font-size: 25px;
    transition: color 0.3s;
}

.links a:hover {
    text-decoration: none;
    color: #94B373;
}

.bar {
    background-color: #017c85;
    height: 100%;
    display: inline-flex;
    float: right;
    margin-right: -48px;
}

.uebertext {
    margin-right: 80px;
    padding-left: 280px;
    text-align: justify;
}

.newContainer {
    width: 1000px !important;
}

.index-image {

}

.index-image img {
    border-radius: 50%;
}

.logo {
    position: absolute;
    border-radius: 50%;
    background-color: #FFF;
    top: 620px;
    margin-left: 70px;
}

.logo img {
    border-radius: 0% !important;
    width: 300px;
    height: auto;
}

.circle-container {
    margin-top: -240px;
    padding-bottom: 100px;
}

.page-text {
}