.navbar-brand img{
    height: 50px;
    width: auto;

}

.navbar-default {
    border-radius: 0px !important;
}
.navbar-brand {
    padding: 10px !important;
}

.jumbotron h1 {
    padding-bottom: 40px;
}

.circle {
    border-radius: 50%;
    padding-bottom: 50px;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: green;
}
.content {
    position: relative;
    margin: 0 auto;
}
